
    .customBtn.btn-lg{
        font-size: 1rem;
        padding: 0;
    }
    .customBtn.btn{
        padding:1.1875rem 0 1.125rem;
        border:0;
        line-height: 1.2;
    }
    .done-width{
        position: absolute;
        bottom: 24px;
        width: 92%;
        @include media-breakpoint-up(md) { 
            width: 58%;
            position: static; 
        }
    }
    .detail-width{
        @include media-breakpoint-up(md){
                width: 70%!important;
            }
    }
    .index-width{
        @include media-breakpoint-up(md){
            width: 35.95%;
        }
    }
