// 輪播效果
.productCarousel{
    overflow-x: auto;//出現x的捲軸，類似滑動效果
    cursor:pointer;

    .productImage{
        position: relative;
    }

    .productImage img{
       width: 100%;
        height:240px;
        object-fit:cover;
        //    裁切圖片以避免圖片壓縮
        @include md-width(){
           width: 100%;
            height: 350px;
        }
    }

   .onSale{
        position: absolute;  
        top: 1rem;
        right:1rem;
        
    }
}

