<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>

    <header class="container pos-relative " >
      <div class="row ">
        <div class="col-12 col-md-12 col-xl-11 offset-xl-1">
            <!-- 企業名稱 -->
            <a class="navbar-brand font-Raleway font-italic  textColorlight py-3 m-0  pl-md-0  py-md-4 " href="index.html">Craftsman</a>
        </div>
      </div>
    </header>
   

    <%- contents %>
    
    
    <!-- footer -->
    <footer>     
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-xl-11 offset-xl-1">
                    <div class="d-md-flex  align-items-md-center">
                        <!-- policy -->
                        <ul class="d-md-flex  mb-0 list-unstyled  order-md-3  ">
                            <li class="pb-3 pb-md-0 pt-3 pt-md-2">
                            <a href="#" class="text-third   mr-5 mr-md-4 font-sm ">Purchase Policy</a>
                            </li>
                            <li class="pb-3 pb-md-0 pt-md-2">
                            <a href="#" class="text-third mr-5 mr-md-4  font-sm">Privacy Policy</a>
                            </li>
                            <li class="pb-3 pb-md-0 pt-md-2">
                            <a href="#" class="text-third  font-sm">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
   
  </body>

</html>