// banner區塊
.banner {
    margin-top: -60px;
    height: 640px;
    @include md-width(){
        margin-top: -76px;
        height: 800px;
    }
    // 背景圖
    .bannerBg {
        background: url(https://images.unsplash.com/photo-1557644978-f61037cfbe49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
        top:0;
        bottom:0;
        @include bg-cover;
       
    }
 
    .bannerTitle{
        margin-top: 188px;
        line-height: 1.35;
        @include md-width(){
            margin-top: 235px;
        }
    }      
}
// 簡介 card 
.introduction{
    .card{      
        // .card-text{
        //     line-height: 1.5;
        // }
        img{
            border-radius: 2px;   }
        .introCardBody{
            @include md-width(){
            max-width: 350px;
            margin: 0 auto;
            }
        }
    }
}

// artdirector
.artDirector{
    background-image: url(https://images.unsplash.com/photo-1579825317824-2cc3aa33f75a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
    @include bg-cover;
    max-width:100%;
    .artDirectorText{
        height: 400px;
    }
    .artDirectorTitle{
        max-width: 350px;
    }   
}






