//調整header區塊不同頁面顏色不同
// 利用<%-theme-%>變數
.light{      
    background: transparent;
    .textColor1{
        color:$white;     
    }
    .textColor2{
        color:$white;
    }
    .textColorlight{
        color:$white;
    }
    .textColordark{
        color:$white;
        @include md-width(){
            color:$primary;
        }     
    }
}
.dark{
    background: $white;
    
    .textColor1{
        color:$secondary;
        font-weight: bold;
    }
    .textColor2{
        color:$primary;
    }
    .textColorlight{
        color:$primary;
    }
}


.productNavbar{   
    z-index:1; 
}

// jumbotron
.subScribe{
    background-image: url(https://images.unsplash.com/photo-1580485978320-cc2bc7dcf569?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
    height: 224px;
    @include bg-cover;
    @include md-width(){
        height: 400px;
    }
    
    input[type=email]{
        background: transparent;
        border-right: none;    
    }
    ::placeholder{
        color:$white-2;
    }

    .input-group-text{
        padding: 1.1875rem 1.5rem 1.125rem ;
        border: none;
        @include md-width(){
            padding: 1.25rem 2.75rem 1.0625rem;
        }
    }
    
}


