
@mixin sm-width(){
    @media(min-width:576px)  {
        @content;  
    } 
}
@mixin md-width() {
    @media(min-width:768px)  {
        @content;       
    }  
}

@mixin lg-width(){
    @media(min-width:992px){
        @content;
    }
}

@mixin bg-cover(){
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}