
body{
    color:$primary;
    line-height: 1.2;
    margin: 0;
    padding:0;
    // width: 100vw;
    // overflow-x:hidden; 
}
// 文字顏色
$gray-ocpacity1:rgba(255,255,255,0);
$gray-ocpacity2:rgba(255,255,255,.6);
$gray-ocpacity3:rgba(255,255,255,.87);
$gray-ocpacity4:rgba(0,0,0,.38);
.text-op1{
    color:$gray-ocpacity1;
}
.text-op2{
    color:$gray-ocpacity2;
}
.text-op3{
    color:$gray-ocpacity3;
}
.text-op4{
    color:$gray-ocpacity4;
}
.text-md-primary{
    color:$primary;
}

// margin、padding

.mt-32{
    margin-top: 2rem;
}
.mb-32{
    margin-bottom: 2rem;
}
.mb-108{
    margin-bottom: 108px;
}
.pt-19{
    padding-top:1.1875rem;
}
.pb-18{
    padding-bottom:1.125rem;
}
.px-sm{
    padding:0 0.9375rem;//15px
}

//18 16 19 16
.p-xy{
    padding:1.125rem 1rem 1.1875rem;
}
// font-size
.font-sm{
    font-size: 0.875rem;
}
.font-xxs{
    font-size: 0.75rem;
 
}
.font-middle{
    font-size: 1.5rem ;
}

.font-Raleway{
    font-family: Raleway;   
}
.font-Roboto-Bold{
    font-family: Roboto;
}

.font-weight-regular{
    font-weight: 400;
}
// hover
h1>a:hover,li>a:hover{
    // color:yellow;
    text-decoration: none;
}

// 行高
.lineH-lg{
    line-height: 1.5;
}
// 定位
.pos-relative{
    position: relative;  
}
.pos-absolute{
    position: absolute;  
}
.d-block{
    display: block;
}

//將圖片多的部分裁減以符合比例
.object-fit-cover{
    object-fit:cover;
}

@include md-width(){
    // 文字顏色
    .text-md-primary{
        color:#121212!important;
    }
    .text-md-white{
        color:#fff!important;
    }
    .text-md-third{
        color:#0000009A!important;
    }
    // 文字大小
    .fz-md-sm{
        font-size: 0.875rem;
    }
    .fz-md-h4{
        font-size: 1.5rem;
    }
    .fz-md-h1{
        font-size: 3rem;
    }
    .fz-md-h5{
        font-size: 1.25rem;
    }
    .fz-md-h6{
        font-size: 1rem;
    }
    // 產品瀑布流使用
    .h-md-240{
        height: 240px;
    }
    .h-md-350{
        height: 350px;
    }
    .h-md-480{
        height: 480px;
    }
}

// onsale tag
.onSale{
    position: absolute;  
    top: 1rem;
    right:1rem;
   
}
